@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Employee Managment System</h1>
    <p>Learn about <a href="/EmployeeList/Index">Check it now !!</a>.</p>
</div>

